body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
}

header {
  background-color: #ff5722;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  font-family: "Brush Script MT";
  color: black;
  text-decoration: none;
}

footer {
  background-color: #222;
  padding: 10px;
  margin-top: 20px;
}

.container {
  background-color: #222;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

form {
  text-align: left;
  font-size: 25px;
  color: #ff5722;
  margin-left: 40px;
  margin-right: 40px;
}

input {
  padding: 8px 15px;
  width: 97%;
  border-radius: 3px;
}

button {
  width: 110%;
  padding: 12px;
  background-color: #ff5722;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
